name: Create release and publish npm package

on:
    push:
        tags:
            - 'v*.*.*'

jobs:
    release:
        runs-on: ubuntu-latest
        steps:
            -
                name: Create release
                id: create_release
                uses: actions/create-release@v1
                env:
                    GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
                with:
                    tag_name: ${{ github.ref }}
                    release_name: Release ${{ github.ref }}
                    draft: false
                    prerelease: ${{ contains(github.ref, 'beta') || contains(github.ref, 'rc') }}

    publish:
        runs-on: ubuntu-latest
        steps:
            -
                name: Checkout
                uses: actions/checkout@v6
            -
                name: Setup node env
                uses: actions/setup-node@v6
                with:
                    node-version: 24
                    registry-url: 'https://registry.npmjs.org'
            -
                name: Build and publish
                env:
                    NODE_AUTH_TOKEN: ${{ secrets.NPM_TOKEN }}
                run: |
                    npm ci
                    npm run build
                    npm publish
